<form class="mt-4" method="POST" action="/posts/handle-form-actions" name="container-form" >
    <div>
        <h2>Bài viết của tôi</h2>
        <a href="/me/trash/posts">Thùng rác ({{countPostsDeleted}})</a>
        
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check-all">
                <label class="form-check-label" for="check-all">
                    Chọn tất cả
                </label>
            </div>
            <select class="form-control form-control-sm checkbox-all-select" name="action" required>
                <option value="">-- Hành động --</option>
                <option value="delete">Xóa</option>
            </select>
            <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Thực hiện</button>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th></th>
                <th scope="col" style="width:65px">
                    ID
                    {{{sortable 'id' _sort}}}
                </th>
                <th scope="col">
                    Tên khóa học
                    {{{sortable 'title' _sort}}}  
                </th>
                <th scope="col w-25">Mô tả</th>
                <th scope="col" colspan="3">Thơi gian đăng</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" name="postsIds[]" type="checkbox" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{this.id}}</th>
                <td class="w-25">{{this.title}}</td>
                <td>{{this.body}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/posts/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                </td>
                <td>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-posts-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng bài viết nào.
                    <a href="/posts/create">Đăng bài viết</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!--confirm delete posts--}}
<div class="modal fade" id="delete-posts-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Xóa bài viết?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Bạn có muốn xóa bài viết này?</p>
        </div>
        <div class="modal-footer">
            <button type="button"  id="btn-delete-posts" class="btn btn-danger">Xóa bỏ</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        </div>
        </div>
    </div>
</div>
<form name="form-delete-posts" method="post"></form>
<script>
    document.addEventListener("DOMContentLoaded",() =>{
        var id;
        var btnDelete = document.getElementById('btn-delete-posts');
        var formDelete = document.forms['form-delete-posts'];
        var containerForm = document.forms['container-form'];
        var checkboxAll = $('#check-all');
        var postsItemsCheckbox = $('input[name="postsIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');
        $('#delete-posts-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) ;
            id = button.data('id');
        });

        btnDelete.onclick = () => {
            formDelete.action = `/posts/${id}/?_method=DELETE`;
            formDelete.submit();
        };
        // checkbox all changed
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            postsItemsCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // posts items checkbox changed
        postsItemsCheckbox.change(function () {
            var isCheckedAll = postsItemsCheckbox.length === $('input[name="postsIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });
        // re-render checkAll btn submit
        function renderCheckAllSubmitBtn () {
            var checkedCount = $('input[name="postsIds[]"]:checked').length;
            if (checkedCount) {
                checkAllSubmitBtn.removeAttr("disabled");
                return;
            }
            checkAllSubmitBtn.attr('disabled', 'disabled');
        }
});
</script>